

.create{
    padding: 2em;
    height: 300px;
    margin: 3em auto;
    width: 400px;
    // .logo{
    //     margin: auto;
    //     width: 10em;
    //     img{
    //         width: 100%;
    //     }
    // }

    label{
        display: block;
        width: 100%;
        i{color:#4c0e9a;}
    }

    label:nth-of-type(2), label:nth-of-type(4){margin-top: 8px;}

    select, input{
        background: #f3d52c;
        border-radius: 3px;
        border: none;
        font-size: 1rem;
        height: 26px;
        margin-bottom: 5px;
        padding: 4px;
        width: 100%;

        &:focus{
            background: #fff;
            color: #4c0e9a;
        }
    }

    select{margin-left: 10px; width: auto}

    span.nopswd{width: 100%;}

    .timer{
        padding: 0;
        margin-bottom: 5px;
        input {
            max-width: 30px;
        }

    }

    .pswd{
        cursor: pointer;
    }
    button{
        border: 1px solid #f3d52c;
        border-radius: 4px;
        color: #f3d52c;
        cursor: pointer;
        display: block;
        font-size: 1rem;
        height: 40px;
        margin: 20px auto;
        padding: 10px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: 80ms ease-in;
        width: 150px;
        z-index: 1;
        &:hover{
            color: #4c0e9a;
            &:before{
                top:0;
            }
        }
        &:before {
            content: "";
            background: #f3d52c;
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 100%;
            z-index: -1;
            -webkit-transition: top 0.09s ease-in;
        }
    }

    .pause{
        font-size: 2rem;
        font-weight: 900;
        &:hover{
            cursor: pointer
        }
    }

    .error{
        color: #f44336;
        font-size: 1em;
    }
}
