.play{
    h1{
        color: white;
        opacity: .7;
        padding: 1em;
        text-shadow: 1px 1px 1px black;
    }
    height: 100vh;
    .countdown{
        height : 30vh;
        left: 50%;
        font-size: 4em;
        text-align: center;
        position: absolute;
        top: 45%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        width: 40%;
    }

    .msgCountdown{
        font-size: 2rem;
    }

    .cd{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%)
    }

    input{
        position: absolute;
        bottom: 25%;
        border-radius: 5px;
        height: 50px;
        font-size: 1.5rem;
        padding: 5px;;
        width: 250px;
        left: 50%;
        transform: translateX(-50%)
    }
}

.matrix{
    background: url('../../assets/matrix.jpg');
    background-size: cover;
    .countdown{
        background:black;
        border: 4px solid red;
        color: red;
        font-family: 'Chakra Petch', sans-serif;
        padding-top: 3.5rem;
    }

    input{
        border: 4px solid red;
        color: red;
        background:black;
    }
}

.cuisine{
    background: url('../../assets/cuisine.jpeg');
    background-size: cover;
    .countdown{
        background:rgba(0,0,0,.7);
        border: 4px solid yellow;
        color: yellow;
        font-family: 'Saira Semi Condensed', sans-serif;
        padding-top: 3rem;
    }

    input{
        border: 4px solid yellow;
        color: yellow;
        background:rgba(0,0,0,.7);
    }
}

.plongee{
    background: url('../../assets/plongee.jpg');
    background-size: cover;
    .countdown{
        background:#4c60a9ad;
        border: 4px solid rgba(255,255,255,.7);
        color: rgba(255,255,255,.9);
        font-family: 'Saira Semi Condensed', sans-serif;
        padding-top: 3rem;
    }

    input{
        border: 4px solid rgba(255,255,255,.7);
        color: rgba(255,255,255,.9);
        background:#4c60a9ad;
    }
}

.escapegame{
    background: url('../../assets/escapegame.jpg');
    background-size: cover;
    .countdown{
        background:#f6bd6690;
        border: 4px solid #6b489e;
        color: #6b489e;
        font-family: 'Russo One', sans-serif;
        font-size: 4rem;
        text-shadow: 1px 1px 1px white;
        padding-top: 3.5rem;
    }
    
    input{
        border: 4px solid #6b489e;
        color: #6b489e;
        background:#f6bd6690;
    }
}