.play{
    h1{
        color: white;
        opacity: .7;
        padding: 1em;
    }
    height: 100vh;
    .countdown{
        height : 30vh;
        left: 50%;
        font-size: 4em;
        text-align: center;
        position: absolute;
        padding-top: 3.5rem;
        top: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        width: 40%;
    }

}

.matrix{
    background: url('../../assets/matrix.jpg');
    background-size: cover;
    .countdown{
        background:black;
        border: 4px solid red;
        color: red;
    }
}

.cuisine{
    background: url('../../assets/cuisine.jpeg');
    background-size: cover;
    .countdown{
        background:grey;
        border: 4px solid yellow;
        color: yellow;
    }
}

.plongee{
    background: url('../../assets/plongee.jpg');
    background-size: cover;
    .countdown{
        background:grey;
        border: 4px solid blue;
        color: blue;
    }
}

.escapegame{
    background: url('../../assets/escapegame.jpg');
    background-size: cover;
    .countdown{
        background:#f6bd6690;
        border: 4px solid #6b489e;
        color: #6b489e;
    }
}